<a href="https://colab.research.google.com/github/jana-nf/Curso-OceanSamsung-OtimizacaoComputacaoEvolutiva/blob/main/Curso_Ocean_Otimiz_Ex_04_(Belfiore_2013_Exemplo_5_10).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages("lpSolve") #pacote para programação linear

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(lpSolve)

In [5]:
library(readxl)
f.con <- read_excel("/content/f.con_Exemplo alocacao.xlsx")
f.con
dim(f.con)

  x11 x12 x13 x21 x22 x23 x31 x32 x33
1 1   1   1   0   0   0   0   0   0
2 0   0   0   1   1   1   0   0   0
3 0   0   0   0   0   0   1   1   1
4 1   0   0   1   0   0   1   0   0
5 0   1   0   0   1   0   0   1   0
6 0   0   1   0   0   1   0   0   1

[1] 6 9

In [6]:
# Modelagem do problema

f.obj <- c(8,10,12,15,13,12,8,12,10)
f.dir <- c("==","==","==","==","==","==")
f.rhs <- c(1,1,1,1,1,1)

# valores das variáveis de decisão
lp("min",f.obj, f.con, f.dir, f.rhs)$solution

[1] 0 1 0 0 0 1 1 0 0

In [7]:
# valor da função objetivo (Z)
lp("min",f.obj, f.con, f.dir, f.rhs)

Success: the objective function is 30